* {
    padding: 0;
    border: 0;



}

a,
div {
    color: inherit;
    text-decoration: none;
}

header {
    display: grid;
    grid-template-columns: max-content auto;
    align-items: flex-start;

}

#nav-header {

    background-color: rgba(163, 227, 226, 0.223);
    margin: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    padding: 5px;
    max-height: 30px;

}

.nav-menu-text {
    margin: 0 10px 0;
    border-radius: 2px;
    padding: 5px;
    font-weight: bold;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;

}

#nav-header .nav-menu-text:hover {
    background-color: rgba(163, 227, 226, 0.4);
}

body {
    background-image: url("/images/background.png");
}